<div class="wrap-login">
  <div class="container">
    <form class="" [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-card class="login-box">
        <mat-card-content>
          <h2 mat-dialog-title>Profiles</h2>

          <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput placeholder="Enter the profile name" formControlName="name" required
                   class="form-field">
            <mat-error *ngIf="form.get('name')?.hasError('required')">Name is required
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Description</mat-label>
            <input matInput placeholder="Enter the profile description" formControlName="description"
                   class="form-field">
          </mat-form-field>
          <button mat-raised-button color="primary">New</button>

          <table mat-table [dataSource]="profiles" class="mat-elevation-z8">

            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef>Name</th>
              <td mat-cell *matCellDef="let element"> {{ element.name }}</td>
            </ng-container>

            <ng-container matColumnDef="description">
              <th mat-header-cell *matHeaderCellDef>Description</th>
              <td mat-cell *matCellDef="let element"> {{ element.description }}</td>
            </ng-container>

            <ng-container matColumnDef="usersQuantity">
              <th mat-header-cell *matHeaderCellDef>Users (Quantity)</th>
              <td mat-cell *matCellDef="let element"> {{ element.users.length }}</td>
            </ng-container>

            <ng-container matColumnDef="addUser">
              <th mat-header-cell *matHeaderCellDef>Add Users</th>
              <td mat-cell *matCellDef="let element">
                <button mat-button (click)="openDialog(element)">Add</button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </mat-card-content>
        <mat-card-actions>
          <a mat-button target="_blank" (click)="logout()">Logout</a>
        </mat-card-actions>
      </mat-card>
    </form>
  </div>
</div>
